.image-grid {
    padding-top: 100px;
    padding-bottom: 50px;
}

.image-grid .row .col-lg-4 {
    padding: 3px;
    margin: 0px;
}

.image-grid .row .col-lg-4 img {
    filter: gray;
    -webkit-filter: grayscale(1);
}

.image-grid .row .col-lg-4 img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

.image-grid .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.image-grid .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.image-grid .hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}