.image-grid {
    padding-top: 100px;
    padding-bottom: 50px;
}

.image-grid .row .col-lg-4 {
    padding: 3px;
    margin: 0px;
}

.image-grid .row .col-lg-4 img{
    transition: 0.3s;
}

.image-grid .row .col-lg-4 img:hover{
    transform: scale(1.01);
}